@model BikeRental.ViewModels.VehicleDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły pojazdu</h1>

<div class="w-50 h-50 mx-auto">

    <img class="img-fluid" src=@Model.Image alt="bikePhoto" />
    @if (Model.isElectric)
    {
         <p class="text-center">Model elektryczny</p>
    }
    <p class="text-start">@Model.Description</p>
    <p class="text-center">Cena za 1 dzień: <b>@Model.RentCost zł </b></p>
    <div class="container text-center">
        <a class="btn btn-success">Zarezerwuj teraz!</a>
    </div>
</div>
<a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.Id">Edycja</a>

<a class="btn btn-outline-primary" asp-action="Index">Powrót</a>

<a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@Model.Id">Usuń</a>
