@model IEnumerable<BikeRental.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Nasze rowery</h1>

<div class="container-fluid text-center">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col">
                <img class="img-fluid" src=@item.Image alt="bikePhoto" />
                <p class="text-center">Cena za 1 dzień: <b>@item.RentCost zł </b></p>
                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Zobacz szczegóły</a>
            </div>
        }
    </div>
    <a class="btn btn-primary" asp-action="Create">Dodaj nowy rower</a>
</div>
