@{
    ViewData["Title"] = "ATH Bike Rental System";
}

<h1 class="display-2 text-center">@ViewData["Title"]</h1>


<p class="fs-4 ">Przeżyj niezapomnianą przygodę na górskim rowerze MTB! Stworzyliśmy wypożyczalnię, która pozwoli Ci zdobywać górskie szczyty, kolekcjonować wrażenia i podziwiać piękne widoki, a wszystko bez konieczności zakupu i serwisowania własnego roweru.</p>

<div class="container-fluid">
    <img class="img-fluid" src="https://images2.giant-bicycles.com/b_white,c_crop,h_600,q_70,w_1920/y11muho9u62fvrlguezt/giant_mtb_banner_navi21.jpg" alt="banner" />
</div>

<p class="fs-3 mt-3">
    Co oferujemy:
</p>
    <ul class="fs-4">
        <li>Profesjonalne przygotowanie roweru</li>
        <li>Ustawienie roweru indywidualnie dla każdego klienta</li>
        <li>Możliwość odbioru i zwrotu w różnych punktach</li>
        <li>Wypożyczenie sprzętu niezbędnego na górskim szlaku</li>
    </ul>

<div class="container mx-auto w-50 mb-4 mt-4"> 
    <button type="button" class="btn btn-primary btn-lg w-100">Sprawdź naszą ofertę</button>
</div>

<div class="container-fluid text-center">
    <div class="row">
        <div class="col">
            <img class="img-fluid" src="https://cdn.rosebikes.de/cms/cms.63299fea28ff65.54741827.png" alt="Bikes" />
        </div>
        <div class="col">
            <img class="img-fluid" src="https://www.tradeinn.com/f/13819/138193724/specialized-kenevo-expert-27.5-mtb-electric-bike.jpg" alt="Bikes" />
        </div>
        <div class="col">
            <img class="img-fluid" src="https://dqh479dn9vg99.cloudfront.net/wp-content/uploads/sites/9/2020/11/02213105/giant_fathom_2-970x828.jpg" alt="Bikes" />
        </div>
    </div>
</div>

