@{
    ViewData["Title"] = "ATH Rental Bike System";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Wypożyczalnia rowerów ATH Rental Bike! Można wypożyczać rowery, działa super!</p>
</div>

<div class="container-fluid text-center">
    <div class="row">
        <div class="col">
            <img class="img-fluid" src="https://th.bing.com/th/id/R.1821b9981e1479b5779a0d71bae34e15?rik=fgXbygT2KZ7gPQ&riu=http%3a%2f%2fmedia.blogto.com%2farticles%2f201762-gears.jpg%3fcmd%3dresize_then_crop%26quality%3d70%26w%3d2048%26height%3d1365&ehk=32Lgq%2fyCxlNqUyxlBLdKBXtHpzXQEuB6gh56iIava%2f8%3d&risl=&pid=ImgRaw&r=0" alt="Bikes" />
        </div>
        <div class="col">
            <img class="img-fluid" src="https://th.bing.com/th/id/R.1821b9981e1479b5779a0d71bae34e15?rik=fgXbygT2KZ7gPQ&riu=http%3a%2f%2fmedia.blogto.com%2farticles%2f201762-gears.jpg%3fcmd%3dresize_then_crop%26quality%3d70%26w%3d2048%26height%3d1365&ehk=32Lgq%2fyCxlNqUyxlBLdKBXtHpzXQEuB6gh56iIava%2f8%3d&risl=&pid=ImgRaw&r=0" alt="Bikes" />
        </div>
        <div class="col">
            <img class="img-fluid" src="https://th.bing.com/th/id/R.1821b9981e1479b5779a0d71bae34e15?rik=fgXbygT2KZ7gPQ&riu=http%3a%2f%2fmedia.blogto.com%2farticles%2f201762-gears.jpg%3fcmd%3dresize_then_crop%26quality%3d70%26w%3d2048%26height%3d1365&ehk=32Lgq%2fyCxlNqUyxlBLdKBXtHpzXQEuB6gh56iIava%2f8%3d&risl=&pid=ImgRaw&r=0" alt="Bikes" />
        </div>
    </div>
</div>

